<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/404.css">
    <title>500 Internal Server Error</title>
</head>

<body>
    <div class="container">
        <div class="error-message">
            <div class="logo">
                <img src="/guchi-logo.png" alt="G">
            </div>
            <h1 class="error-code">500</h1>
            <p class="error-description">Internal Server Error. <%= msg %> <a href="/">Go Home</a>.</p>
        </div>
    </div>
</body>

</html>